{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
<div class="container w-50">

    <h1>{{ app.user.email|split('.')[0]|capitalize}} 's students</h1>
    <a class="btn btn-success text-white m-1" href="{{ path('student_new') }}">Create new</a>

    <span type="button" class="btn btn-xMas text-white m-1" data-bs-toggle="modal" data-bs-target="#deleteStudents">
      Reset all Students
    </span>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td class="d-flex">
                    {{ include('student/_delete_form.html.twig') }}

                    <a class="btn btn-primary text-white m-1" href="{{ path('student_edit', {'id': student.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no students found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5>Import csv file</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success text-white m-1">Upload</button>
    {{ form_end(form) }}
</div>
    <!-- Modal -->
    <div class="modal fade" id="deleteStudents" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to remove all students
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-white" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-xMas" href={{ path('students_remove_all') }}>Yes Remove all Students</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
