{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('wheel') }}
      {{ encore_entry_script_tags('open') }}
  {% endblock %}
{% block body %}
    {% include 'components/_header.html.twig' %}


    {#    wheel#}
    <div class="container-fluid d-flex">
        <div class="w-50">
            <div class="btn btn-lg btn-primary text-white m-1" id="spinTrigger">SPIN</div>
            <div class="form-check form-switch" id="switch-container">
                <label class="form-check-label" for="auto-open">Reward Auto Open</label>
                <input class="form-check-input" type="checkbox" id="auto-open" checked>
            </div>
            <div class="d-flex align-items-center m-5  ">
                {% if app.user %}
                    {% if app.user.students|length > 0 %}
                <canvas id="can" ></canvas>
                <div id="cursor"></div>
                    {% else %}
                        <h2>No student, no wheel</h2>
                    {% endif %}
                {% else%}
                <h2>No connection, no wheel</h2>
                {% endif %}
            </div>
            {% for student in students %}
                <div class="student " data-name={{ student.displayName }} data-id={{ student.id }}></div>
            {% endfor %}
        </div>
        {{  include ('components/_calendar.html.twig',{'mode_curtain':true}) }}
    </div>
    <div id="nameModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
