{% extends 'base.html.twig' %}
   {% block javascripts %}
       {{ parent() }}
       {{ encore_entry_script_tags('dynamic-input') }}
   {% endblock %}
{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    {% include 'components/_header.html.twig' %}
    <div class="container">
        <div class="d-flex justify-content-around align-items-center" >
            <div class="d-flex flex-column align-items-start">
        <h1>Create new Reward</h1>
        {{ include('reward/_form.html.twig') }}
                <a class="btn btn-gold  text-white m-1" href="{{ path('rewards') }}">Back to list</a>
            </div>
            <div class="align-self-center reward-alone m-1">
                {{  include ('components/_reward.html.twig',{'update':false,'size':'large'}) }}
            </div>
        </div>
    </div>

{% endblock %}
