{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-rewards{% endblock %}

   {% block javascripts %}
       {{ parent() }}
       {{ encore_entry_script_tags('drag') }}
   {% endblock %}
{% block body %}
    {% include 'components/_header.html.twig' %}
<div class="container-fluid mt-2">

    <div class="d-flex">
        <div class="w-50">
            <a class="btn btn-success text-white" href={{ path('reward_new')}} >New Reward</a>
        </div>
        <div class="w-50 d-flex">
            <h2>December</h2>
            <a class="btn btn-xMas m-1" href={{ path('rewards_unset_dates') }}>Clean the calendar</a>
        </div>
    </div>
    <div class="interact-zone d-flex">
        <div class="reward-container border d-flex flex-wrap w-50   dropzone " data-date=null>
            {% for reward in rewards %}
                    {{   include ('components/_reward.html.twig',{'update':true})}}
            {% endfor %}
        </div>
                    {%    include ('components/_calendar.html.twig') %}


    </div>

</div>
{% endblock %}
