{% set arr = app.user?app.user.email|split('.'):["instructor"] %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wild Xmas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if app.user %}
                <a class="nav-link active" href = "/">Hello {{ arr[0]|capitalize}}</a>
                <a class="nav-link active" href={{ path('student_index') }}>Students</a>
                <a class="nav-link active" href={{ path('rewards')}}>Rewards</a>
                <a class="nav-link active" href = {{ path('app_logout')}}>Log out</a>
                    {% if "ROLE_SUPER_ADMIN" in app.user.roles %}
                    <a class="nav-link active" href={{ path('admin_instructors')}}>Set administrators</a>
                    {% endif %}
                {% else %}
                <a class="nav-link active" href={{ path('app_login')}}>Sign in/Sign up</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>